Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
idna==3.6
mutagen==1.47.0
numpy==1.26.4
opencv-python==4.9.0.80
platformdirs==4.2.0
pycryptodomex==3.20.0
requests==2.31.0
scenedetect==0.6.2
tqdm==4.66.1
urllib3==2.2.0
websockets==12.0
yt-dlp==2023.12.30
